.App {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; */
}

.mainarea{
    /* margin: auto;
    position: absolute; */
    /* background-color: blue; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 60vw;
    display: block;
    /* max-height: 200%; */
}

/* .canvas {
    background-color: white;
    position: absolute;
    margin-right: -50%; 
    width: 100% !important;
    height: 100% !important;
} */

.links{
    /* background-color: brown; */
    all: initial;
    display: inline-block;
    padding: 0 5em 0 5em !important;
    /* margin-top: -50% !important; */
    height: max-content;
    width: max-content;
    font-size: min(15vw, 45px);
    font-family: archetype, serif;
    font-style: normal;
    font-weight: 300;
    font-size: xx-large;
}

/* body{
    font-family: 'Times New Roman', Times, serif;
} */

.credits{
    margin-top: 50%;
    position: relative;
}

.credittitle{
    text-align: center;
    font-weight: normal;
    color: blue;
    font-size: min(15vw, 100px);
    margin-bottom: 0;
    font-family: amandine, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.creditsubtitle{
    text-align: center;
    font-weight: normal;
    color: blue;
    font-size: min(15vw, 45px);
    font-family: amandine, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.trackslist{
    display: inline;
}

.listlink{
    all: initial;
    font-size: large;
    text-decoration: underline;
    /* text-justify: distribute; */
    /* text-align: left !important; */
}

.home{
    display:table;
    margin:0 auto;
}

.centeredlist{
    display:table;
    margin:0 auto;
}

dl{
    font-size: larger;
}

body{
    font-family: archetype, serif; 
    font-style: normal;
    font-weight: 400;
}